@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playball&family=Roboto:wght@300;400;700&display=swap');


:root {
  --primary-color: pink;
  --secondary-color: #1c3825;
  --text-color: #1f2021;
  --basic: #fff;
  --fontSize: 18px;

}


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  transition: all .3s linear;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--basic);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.container {
  padding: 0 1rem;
  overflow: hidden;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: var(--basic);
  margin-top: 20px;
  background-color: var(--secondary-color);
  border: 2px solid var(--fontSize);
  border-radius: 6px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-row {
  flex-direction: column;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 2fr));
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}


.btn {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--basic);
  font-size: 16px;
  font-family: inherit;
  margin-top: 10px;
  border: 1px solid var(--basic);
  padding: 10px 20px;
  border-radius: 8px;
}

.section {
  margin-top: 20px;
}

.togglebar,
.close {
  display: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.strike {
  text-decoration: line-through;
  color: var(--secondary-color);
  font-size: 10px;
}




@media(max-width:1024px) {
  /* .grid {
    grid-template-columns: repeat(3, 1fr);
  } */
}


@media(max-width:768px) {

  .container {
    padding: 0 1.3rem;
    overflow: hidden;
    height: auto;
  }

  /* .flex {
    flex-direction: column;
  } */

  /* .grid {
    grid-template-columns: repeat(2, 1fr);
  } */


  /* .togglebar,
  .close {
    display: block;
  } */
}

@media(max-width:500px) {


  .grid {
    grid-template-columns: 1fr 1fr;
  }
}