.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.post_card {
    width: 100%
}

.post_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.post_card h2 {
    font-size: 20px;
    font-weight: 400;
}


.post_card p {
    line-height: 2em;
    font-size: 18px;
    margin-top: 10px;
}

@media(max-width:500px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}