.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: space-between;
}


@media(max-width:500px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}