.card {
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.44);
    /* width: 100%; */
}


.card__body {
    width: 200px;
    text-align: left;
    padding: 2px 10px;
    border-radius: 10px;
    position: relative;
}


.card__body:hover {
    /* background-color: var(--primary-color); */
    cursor: pointer;
}

.card__body .card__img {
    width: 50%;
    height: 8rem;
    margin: 0 auto;
    /* object-fit: cover; */
}

.card__body .card__img img {
    width: 100%;
}

@media(max-width:600px) {
    .card {
        padding: 3px 5px;
    }
}