.cart-bar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 700px;
    height: 100%;
    background-color: var(--basic);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}

.cart-bar.active {
    right: 0;
}

.cart-bar .close-cart {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
}

.cart-bar .close-cart svg {
    color: var(--primary-color);
}

.cart-bar .cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}

.cart-bar .cart_item .cart_image {
    width: 100px;
    height: 100px;
    margin: 30px;
    object-fit: cover;
}

.cart-bar .cart_item .cart_image img {
    width: 100%;
    height: 100%;
}

.cart-bar .cart_item .cart_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cart-bar .cart_item .cart_info h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}

.cart-bar .cart_item .cart_info .cart-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cart-bar .cart_item .cart_info .cart-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    color: var(--secondary);
}

.cart-bar .cart_item .price {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cart-bar .cart_item .price span {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
}

.cart-empty {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--secondary);
}

@media(max-width:700px) {
    .cart-bar {
        width: 100%;
        /* padding: 0px 7px; */
    }



    /*     
        .cart-bar .close-cart {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 30px;
            cursor: pointer;
        } */

    /* .cart-bar .close-cart svg {
            color: var(--primary-color);
        } */

    .cart-bar .cart_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--primary-color);
        gap: 10px;
    }

    .cart-bar .cart_item .cart_image {
        width: 50px;
        height: 50px;
        margin: 30px;
        object-fit: cover;
    }


    .cart-bar .cart_item .cart_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .cart-bar .cart_item .cart_info h3 {
        font-size: 15px;
        font-weight: 400;
    }

    .cart-bar .cart_item .cart_info .cart-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .cart-bar .cart_item .cart_info .cart-buttons button {
        width: 30px;
        height: 30px;

    }

    .cart-bar .cart_item .price {
        font-size: 14px;
        font-weight: 700;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .cart-bar .cart_item .price span {
        font-size: 17px;
        font-weight: 700;
        color: var(--primary-color);
    }

    .cart-empty {
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
    }
}