.check-out {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.check-out .form {
    width: 100%;
}


.check-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    column-gap: 20px;
}

.check-out :is(.form, .model) {
    width: 100%;
}

.check-out .form {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.check-out .form h3 {
    color: var(--secondary-color);
    font-size: 32px;
    text-transform: capitalize;
}

.w-50 {
    display: flex;
    column-gap: 20px;
}

.check-out .form .form-group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0;
}

.check-out .form .form-group label {
    color: var(--secondary-color);
    font-size: 18px;
}

.check-out .form .form-group input {
    padding: 10px 12px;
    margin-top: 4px;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
}

.check-out .w-100 {
    width: 100%;
}

.check-out .w-100 textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 20px 10px;
    border-radius: 8px;
    outline: 0;
}



.check-out .form :is(button) {
    width: 100%;
    font-size: 20px;
}

.check-out .model img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    object-position: top;
}




@media(max-width:946px) {
    .check-out {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .check-out .model {
        display: none;
    }
}

@media(max-width:480px) {
    .w-50 {
        flex-flow: column;
        gap: 0;
    }

    .check-out .form .social {
        flex-direction: column;
        gap: 0;
    }

    .check-out .form .social button {
        font-size: 16px;
    }
}

.check-out .check-out-items {
    width: 100%;
}


.check-out .close-cart svg {
    color: var(--primary-color);
}

.check-out .cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}

.check-out .cart_item .cart_image {
    width: 100px;
    height: 100px;
    margin: 30px;
    object-fit: cover;
}

.check-out .cart_item .cart_image img {
    width: 100%;
    height: 100%;
}

.check-out .cart_item .cart_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.check-out .cart_item .cart_info h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
}

.check-out .cart_item .cart_info .cart-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.check-out .cart_item .cart_info .cart-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    color: var(--secondary);
}

.check-out .cart_item .price {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.check-out .cart_item .price span {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
}

.cart-empty {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--secondary);
}

.check-out button a {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
}