/* LANDING HERO SECTION */


.hero {
    width: 100%;
    border-bottom: 3px outset var(--primary-color);
}


.hero .landing__info {
    width: 100%;
    max-width: 500px;
    text-align: left;
    padding: 10px 20px;
}

.hero .landing__info p {
    font-size: 20px;
    line-height: 1.7em;
}

.hero .landing__image {
    width: 100%;
    height: 100%;
}

.hero .landing__image img {
    width: 100%;
    height: 100%;
}





.landing__courses {
    width: 700px;
    margin: 0 auto;
    transform: translateY(-10px);
}

.landing__courses-count {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.landing__courses-count .count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

}

.landing__courses-count .count h2 {
    color: var(--primary-color);
    font-size: 30px;
}

.landing__courses-count .count p {
    color: var(--secondary-color);
    font-size: 20px;
    text-transform: capitalize;
}

.hero .landing__page {
    flex-direction: row;
}

/*  */


@media(max-width:568px) {
    .hero .landing__page {
        flex-direction: column-reverse;

    }

    .landing__info p {
        text-align: center;
    }

    .landing__info button {
        display: inline-block;
    }

    .landing__courses {
        width: 100%;
    }

    .landing__courses-count {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .landing__courses .count h2 {
        font-size: 20px;
    }

    .landing__courses .count p {
        font-size: 17px;

    }
}