.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--basic);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
    gap: 20px;
}