.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    column-gap: 20px;
}

.login :is(.form, .model) {
    width: 100%;
}

.login .form {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.login .form h3 {
    color: var(--secondary-color);
    font-size: 32px;
    text-transform: capitalize;
}

.w-50 {
    display: flex;
    column-gap: 20px;
}

.login .form .form-group {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

.login .form .form-group label {
    color: var(--secondary-color);
    font-size: 18px;
}

.login .form .form-group input {
    padding: 10px 12px;
    margin-top: 4px;
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
}

.login_or_sigh-up {
    text-align: left;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
}

.login .form .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login .form .social>div {
    margin-top: 20px;
    width: 100%;
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
    gap: 10px;
}

.login .form .social button {
    height: 40px;
    padding: 5px 7px;
    font-weight: 300;
    display: inline;
    border-radius: 7px;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login .form .social button svg {
    color: #2c32e8;
    margin-right: 4px;
    font-size: 24px;
}



.login .form :is(button) {
    width: 100%;
    font-size: 20px;
}

.login .model img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    object-position: top;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 20px 10px;
    border-radius: 8px;
    outline: 0;
    margin-top: 7px;
}


@media(max-width:946px) {
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .login .model {
        display: none;
    }
}

@media(max-width:480px) {
    .login {

        margin-top: 0;
    }

    .w-50 {
        flex-flow: column;
        gap: 0;
    }

    .login .form .social {
        flex-direction: column;
        gap: 0;
    }

    .login .form .social button {
        font-size: 16px;
    }


    .login .form h3 {
        font-size: 25px;
    }

    .login .form .form-group {

        margin: 5px 0;
    }
}